<div>
    <h1>Home</h1>
</div>
<h2>Welcome </h2><span data-bind="text:user"> </span>

  <oj-button id="chroming_button4" chroming="callToAction" on-oj-action="[[checker]]">
    Checker
</oj-button>
<div class="oj-hybrid-padding">
  <h1>Test Composite</h1>
  <div>
  <name-badge badge-name="Duke Mascot"
              badge-image="https://upload.wikimedia.org/wikipedia/commons/b/b1/ThumbsUp.svg">
  </name-badge>
  </div>
</div>

<!-- <h1>Home</h1>
<h1>Hello World!</h1>
<div>
    <h6>Name : <input data-bind="textInput:user"> </h6>
    <hr>
    <h3>Your name is <span data-bind="text:user"> </span> 
      <h3>
</div>

<oj-button id="chroming_button4" chroming="callToAction" on-oj-action="[[checker]]">
    Checker
</oj-button> -->