<div>
    <h1>Welcome To My From Scratch Application</h1>
</div>

<div class="oj-flex">
  
    <div class="oj-flex-item oj-panel" style="margin: 10px; background-color:rgb(137, 141, 141)">
      <h4>Login Deatils</h4>
      <!-- <strong>20+ years of experience in Production Management.</strong>
      <br>
      <br>
      <oj-chart type = "bar" series ="[[datasource1]]">
      </oj-chart> -->
     
<!-- <span>
 <h6>Result: </h6><oj-bind-text value="[[calResult]]"></oj-bind-text></span> -->


 <!-- ///////////////// -->

 <div id="div1">
  <oj-input-text id="text-input" value="{{calInput1}}"
  label-hint="Enter User Name/ID" label-edge="inside"></oj-input-text>
  <div class="oj-sm-margin-4x-vertical">
      
  </div>
</div>

<div id="div1">
  <oj-input-text id="text-input" value="{{calInput2}}"
  label-hint="Enter Password" label-edge="inside"></oj-input-text>
</div>
<br>
<oj-button class="oj-button-lg" id='button1' on-oj-action='[[buttonAction]]'>Login</oj-button>
<!-- <oj-button id="chroming_button4" chroming="callToAction" on-oj-action="[[buttonAction]]">
  Login2
</oj-button> -->
<br>

</div>
</div>