<div class="oj-hybrid-padding">
    <!-- <h1>Employees</h1>
    <h5>Prime Checker App</h5>
    <input type = "number" id="inpulValue" data-bind="textInput:inputValue"> 
<hr>
<input type="button" value="Check" id="submitbtn">

    <span>Is Prime Number </span><h1 id="result"></h1> -->

    <h1>Employees</h1>
    <h5>Prime Checker App</h5>
    <input type = "number" id="inpulValue" data-bind="textInput:inputValue"> 
<hr>
<!--  Not working-->
    <!-- <input type="button" value="Check" id="submitbtn" onClick="checkPrime()"> -->
    
    <!-- Working -->
    <button data-bind="click: checkPrime">check</button>
    <!-- <input type="button" value="Check" id="submitbtn" data-bind="click: checkPrime">  -->

    <span>Is Prime Number </span><span id="result"></span>

  </div>